.text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 3.2s linear forwards, filling 2.3s ease-in forwards;
    font-size: 80px;
}

.text-line text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {

    0%,
    90% {
        fill: #969696;
        fill-opacity: 0;
    }

    100% {
        fill: #ffffff;
        fill-opacity: 1;
    }
}