@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-void text-paper font-sans antialiased selection:bg-blueprint selection:text-white overflow-x-hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold tracking-tight;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-void;
}

::-webkit-scrollbar-thumb {
    @apply bg-concrete rounded-full hover:bg-graphite transition-colors;
}